* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$pill-padding: 0.25rem 0.875rem;
$pill-radius: 0.75rem;

.card {
    padding: 3rem;
    border-radius: 1rem;
    background-color: rgba(72, 68, 69, 0.1);
}

.w-8 {
    width: 2rem;
}

.h-8 {
    height: 2rem;
}
.light-pill {
    color: rgb(72, 68, 69);
    background-color: rgba(72, 68, 69, 0.1);
    width: max-content;
    padding: $pill-padding;
    border-radius: $pill-radius;
}

.light-pill-pink {
    color: rgb(247, 175, 197);
    background-color: rgba(247, 175, 197, 0.1);
    width: max-content;
    padding: $pill-padding;
    border-radius: $pill-radius;
}

.para-1 {
    font-size: 24px;
    font-weight: 500;
    color: rgb(17, 24, 39);
}

.df-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 1rem;
}

.btn-main {
    padding: .75rem 1.5rem;
    border-width: 2px;
    border-style: solid;
    box-shadow: none;
    font-weight: 500;
    background-color: rgb(72, 68, 69);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-color: rgb(72, 68, 69);
    font-size: 20px;
    line-height: 1.75rem;

    &:hover {
        color: rgb(255, 255, 255);
        opacity: .9;
        --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
}

.hero-right-img,
.hero-2-img,
.hero-3-img {
    background-image: url("/img/hero-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.hero-2-img {
    background-image: url("/img/faces/IMG_1775.jpeg");
}

.hero-3-img {
    background-image: url("/img/faces/IMG_1234.jpeg");
}

.section-2-text {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

// .big-image {
//     background: #EE47AB;
//     background: radial-gradient(circle, rgba(238, 71, 171, 1) 0%, rgba(193, 0, 45, 1) 50%, rgba(63, 29, 31, 1) 100%);
// }

#section4 {
    .card {
        padding: 0;
        background: transparent;

        .card-img-top {
            height: 440px;
            object-fit: cover;
            border-radius: 1rem;
        }

        h5,
        p {
            color: #ffffff;
        }
    }
}

#section5 {
    .card {
        background-color: #fff;
        min-height: 360px;

        .card-title {
            margin-top: 1rem;
        }


    }
}

#section7 {
    .card {
        background-color: #fff;
        min-height: 560px;

        .card-title {
            margin-top: 1rem;
        }

        img {
            height: 96px;
            width: 96px;
            border-radius: 50%;
        }
    }
}

#contactForm {
    color: #fff;

    .contact-form-image {
        border-radius: 1rem;
        height: 547px;
        width: 100%;
        object-fit: cover;
    }
}